<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Configurar L2VPN</title>
</head>
<body style="background-color: black; color: green;">
    <h1>Configurar L2VPN</h1>
    <form action="/configure-l2vpn" method="post">
        <fieldset>
            <legend>Configuração do PE1</legend>

            <label for="HOSTA">HOST A</label>
            <input type="text" id="HOSTA" name="HOSTA" required><br><br>

            <label for="vpws_group_name_pe1">VPWS Group Name PE1:</label>
            <input type="text" id="vpws_group_name_pe1" name="vpws_group_name_pe1" required><br><br>

            <label for="vpn_id_pe1">VPN ID PE1:</label>
            <input type="text" id="vpn_id_pe1" name="vpn_id_pe1" required><br><br>

            <label for="neighbor_ip_pe1">Neighbor IP do PE1:</label>
            <input type="text" id="neighbor_ip_pe1" name="neighbor_ip_pe1" required><br><br>

            <label for="pw_vlan_pe1">PW-Type VLAN PE1:</label>
            <input type="text" id="pw_vlan_pe1" name="pw_vlan_pe1" required><br><br>

            <label for="pw_id_pe1">PW ID PE1:</label>
            <input type="text" id="pw_id_pe1" name="pw_id_pe1" required><br><br>

            <label for="access_interface_pe1">Access Interface do PE1:</label>
            <input type="text" id="access_interface_pe1" name="access_interface_pe1" required><br><br>

            <label for="dot1q_pe1">Dot1q PE1:</label>
            <input type="text" id="dot1q_pe1" name="dot1q_pe1" required><br><br>

            <label for="neighbor_targeted_ip_pe1">Neighbor Targeted IP do PE1:</label>
            <input type="text" id="neighbor_targeted_ip_pe1" name="neighbor_targeted_ip_pe1" required><br><br>
        </fieldset>

        <fieldset>
            <legend>Configuração do PE2</legend>

            <label for="HOSTB">HOST B</label>
            <input type="text" id="HOSTB" name="HOSTB" required><br><br>

            <label for="vpws_group_name_pe2">VPWS Group Name PE2:</label>
            <input type="text" id="vpws_group_name_pe2" name="vpws_group_name_pe2" required><br><br>

            <label for="vpn_id_pe2">VPN ID PE2:</label>
            <input type="text" id="vpn_id_pe2" name="vpn_id_pe2" required><br><br>

            <label for="neighbor_ip_pe2">Neighbor IP do PE2:</label>
            <input type="text" id="neighbor_ip_pe2" name="neighbor_ip_pe2" required><br><br>

            <label for="pw_vlan_pe2">PW-Type VLAN PE2:</label>
            <input type="text" id="pw_vlan_pe2" name="pw_vlan_pe2" required><br><br>

            <label for="pw_id_pe2">PW ID PE2:</label>
            <input type="text" id="pw_id_pe2" name="pw_id_pe2" required><br><br>

            <label for="access_interface_pe2">Access Interface do PE2:</label>
            <input type="text" id="access_interface_pe2" name="access_interface_pe2" required><br><br>

            <label for="dot1q_pe2">Dot1q PE2:</label>
            <input type="text" id="dot1q_pe2" name="dot1q_pe2" required><br><br>

            <label for="neighbor_targeted_ip_pe2">Neighbor Targeted IP do PE2:</label>
            <input type="text" id="neighbor_targeted_ip_pe2" name="neighbor_targeted_ip_pe2" required><br><br>
        </fieldset>
        <fieldset>
            <label for='login'>login</label>
            <input type="text" id ='login' name="login" required><br><br>
            <label for='senha'>senha</label>
            <input type="text" id ='senha' name="senha" required>
        </fieldset>
        <button type="submit">Configurar</button>
    </form>
</body>
</html>
